@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');


:root {
	/* BACKGROUND */
	--bg-dayimg: url('https://github.com/snnxwww/snoheim-css/blob/main/snowyforestday.png?raw=true');
	--bg-nightimg: url('https://github.com/snnxwww/snoheim-css/blob/main/snowyforestnight.png?raw=true');

	/* TOPBAR */
	--tb-font: "Moon Dance";
	--tb-fontfam: serif;
	--tb-fontsize: 16px;
	--tb-sbicon: url('https://github.com/snnxwww/snoheim-css/blob/main/iceshard.png?raw=true');
	--tb-gbicon: url('https://github.com/snnxwww/snoheim-css/blob/main/snowshard.png?raw=true');
	
	/* TOPBAR / DAY SETTINGS */
	--tbd-bgclr: #dcf1f4;
	--tbd-bgimg: url('');
	--tbd-linkclr: #80a5af;
	--tbd-linkhovclr: #586465;
	--tbd-fontclr: #6b797b;
	--tbdd-msg: "The sunkissed peaks glisten in your presence, ";
	--tbdw-msg: "The snow twirls under the warmth of the sun at your return, ";
	--tbd-badgeclr: #afd0d4;
	--tbd-badgefontclr: #515c5e;
	
	/* TOPBAR / NIGHT SETTINGS */
	--tbn-bgclr: #213f4c;
	--tbn-bgimg: url('');
	--tbn-linkclr: #86a2a9;
	--tbn-linkhovclr: #cedcdd;
	--tbn-fontclr: #b8c4c5;
	--tbnd-msg: "The moon casts its light upon the snow at your arrival,  ";
	--tbnw-msg: "The snow dances under the watch of the stars for you, ";
	--tbn-badgeclr: #437285;
	--tbn-badgefontclr: #d0dfe0;
}

/* DAY TIME SETTINGS */
*:has(img[alt="day Time"]) {
	/* BACKGROUND */
	body {
		background-image: var(--bg-dayimg) !important; 
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-position: fixed !important;
	}
	/* TOPBAR */
	.topbar {
		background-color: var(--tbd-bgclr) !important;
		background-image: var(--tbd-bgimg) !important;
		color: var(--tbd-fontclr) !important;
		font-family: var(--tb-font), var(--tb-fontfam) !important;
		font-size: var(--tb-fontsize) !important;
		height: 45px !important;
		line-height: 30px !important;
	}
	.topbar a {
		color: var(--tbd-linkclr) !important;
		transition: 0.5s !important;
	}
	.topbar a:hover {
		color: var(--tbd-linkhovclr) !important;
		font-size: calc(var(--tb-fontsize)*1.05) !important;
		transition: 0.5s !important;

	}
	img[src*="icon-beetle-silver.png"] {
		width: 20px !important;
		height: 20px !important;
		content: var(--tb-sbicon);
	}
	img[src*="icon-beetle-gold.png"] {
		width: 20px !important;
		height: 20px !important;
		content: var(--tb-gbicon);
	}
	body:has(img[alt="dry Season"]) {
		.welcomeback {
			font-size: 0;
		}
		.welcomeback a {
			font-size: var(--tb-fontsize);
		}
		.welcomeback::before {
			content: var(--tbdd-msg);
			font-size: var(--tb-fontsize);
		}
	}
	body:has(img[alt="wet Season"]) {
		.welcomeback {
			font-size: 0;
		}
		.welcomeback a {
			font-size: var(--tb-fontsize);
		}
		.welcomeback::before {
			content: var(--tbdw-msg);
			font-size: var(--tb-fontsize);
		}
	}
	.badge {
		background-color: var(--tbd-badgeclr) !important;
		color: var(--tbd-badgefontclr) !important;
	}
}
/* NIGHT TIME SETTINGS */
*:has(img[alt="night Time"]) {
	body {
		background-image: var(--bg-nightimg);
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-position: fixed !important;
	}
	/* TOPBAR */
	.topbar {
		background-color: var(--tbn-bgclr) !important;
		background-image: var(--tbn-bgimg) !important;
		color: var(--tbn-fontclr) !important;
		font-family: var(--tb-font), var(--tb-fontfam) !important;
		font-size: var(--tb-fontsize) !important;
		height: 45px !important;
		line-height: 30px !important;
	}
	.topbar a {
		color: var(--tbn-linkclr) !important;
		transition: 0.5s !important;
	}
	.topbar a:hover {
		color: var(--tbn-linkhovclr) !important;
		font-size: calc(var(--tb-fontsize)*1.05) !important;
		transition: 0.5s !important;

	}
	img[src*="icon-beetle-silver.png"] {
		width: 20px !important;
		height: 20px !important;
		content: var(--tb-sbicon);
		filter: brightness(0.8);
	}
	img[src*="icon-beetle-gold.png"] {
		width: 20px !important;
		height: 20px !important;
		content: var(--tb-gbicon);
		filter: brightness(0.8);
	}
	body:has(img[alt="dry Season"]) {
		.welcomeback {
			font-size: 0;
		}
		.welcomeback a {
			font-size: var(--tb-fontsize);
		}
		.welcomeback::before {
			content: var(--tbnd-msg);
			font-size: var(--tb-fontsize);
		}
	}
	body:has(img[alt="wet Season"]) {
		.welcomeback {
			font-size: 0;
		}
		.welcomeback a {
			font-size: var(--tb-fontsize);
		}
		.welcomeback::before {
			content: var(--tbnw-msg);
			font-size: var(--tb-fontsize);
		}
	}
	.badge {
		background-color: var(--tbn-badgeclr) !important;
		color: var(--tbn-badgefontclr) !important;
	}
}


/* MESSAGE NOTIFICATION BADGE */
@keyframes shake {
	0%, 70%, 100% { 
		transform: translate3d(0, 0, 0);  /* pause most of the time */
  }

	71% { 
		transform: translate3d(-0.5px, 0, 0); 
  }
	73% { 
		transform: translate3d(1px, 0, 0); 
  }
	75% { 
		transform: translate3d(-1px, 0, 0); 
  }
	77% { 
		transform: translate3d(2px, 0, 0); 
  }
	79% { 
		transform: translate3d(-1px, 0, 0); 
  }
	81% { 
		transform: translate3d(1px, 0, 0); 
  }
	83% { 
		transform: translate3d(-0.5px, 0, 0); 
  }
	85% { 
		transform: translate3d(0, 0, 0); 
  } 
}
.badge {
	animation: shake 3s cubic-bezier(.36,.07,.19,.97) both;
	animation-iteration-count: infinite; 
	position: relative; 
	top: -4.5px;  
	left: -2px; 
}


/* OPACITY SETTINGS */
.opacity-1 {
  opacity: 1%;
}
.opacity-2 {
  opacity: 2%;
}
.opacity-3 {
  opacity: 3%;
}
.opacity-4 {
  opacity: 4%;
}
.opacity-5 {
  opacity: 5%;
}
.opacity-6 {
  opacity: 6%;
}
.opacity-7 {
  opacity: 7%;
}
.opacity-8 {
  opacity: 8%;
}
.opacity-9 {
  opacity: 9%;
}
.opacity-10 {
  opacity: 10%;
}
.opacity-11 {
  opacity: 11%;
}
.opacity-12 {
  opacity: 12%;
}
.opacity-13 {
  opacity: 13%;
}
.opacity-14 {
  opacity: 14%;
}
.opacity-15 {
  opacity: 15%;
}
.opacity-16 {
  opacity: 16%;
}
.opacity-17 {
  opacity: 17%;
}
.opacity-18 {
  opacity: 18%;
}
.opacity-19 {
  opacity: 19%;
}
.opacity-20 {
  opacity: 20%;
}
.opacity-21 {
  opacity: 21%;
}
.opacity-22 {
  opacity: 22%;
}
.opacity-23 {
  opacity: 23%;
}
.opacity-24 {
  opacity: 24%;
}
.opacity-25 {
  opacity: 25%;
}
.opacity-26 {
  opacity: 26%;
}
.opacity-27 {
  opacity: 27%;
}
.opacity-28 {
  opacity: 28%;
}
.opacity-29 {
  opacity: 29%;
}
.opacity-30 {
  opacity: 30%;
}
.opacity-31 {
  opacity: 31%;
}
.opacity-32 {
  opacity: 32%;
}
.opacity-33 {
  opacity: 33%;
}
.opacity-34 {
  opacity: 34%;
}
.opacity-35 {
  opacity: 35%;
}
.opacity-36 {
  opacity: 36%;
}
.opacity-37 {
  opacity: 37%;
}
.opacity-38 {
  opacity: 38%;
}
.opacity-39 {
  opacity: 39%;
}
.opacity-40 {
  opacity: 40%;
}
.opacity-41 {
  opacity: 41%;
}
.opacity-42 {
  opacity: 42%;
}
.opacity-43 {
  opacity: 43%;
}
.opacity-44 {
  opacity: 44%;
}
.opacity-45 {
  opacity: 45%;
}
.opacity-46 {
  opacity: 46%;
}
.opacity-47 {
  opacity: 47%;
}
.opacity-48 {
  opacity: 48%;
}
.opacity-49 {
  opacity: 49%;
}
.opacity-50 {
  opacity: 50%;
}
.opacity-51 {
  opacity: 51%;
}
.opacity-52 {
  opacity: 52%;
}
.opacity-53 {
  opacity: 53%;
}
.opacity-54 {
  opacity: 54%;
}
.opacity-55 {
  opacity: 55%;
}
.opacity-56 {
  opacity: 56%;
}
.opacity-57 {
  opacity: 57%;
}
.opacity-58 {
  opacity: 58%;
}
.opacity-59 {
  opacity: 59%;
}
.opacity-60 {
  opacity: 60%;
}
.opacity-61 {
  opacity: 61%;
}
.opacity-62 {
  opacity: 62%;
}
.opacity-63 {
  opacity: 63%;
}
.opacity-64 {
  opacity: 64%;
}
.opacity-65 {
  opacity: 65%;
}
.opacity-66 {
  opacity: 66%;
}
.opacity-67 {
  opacity: 67%;
}
.opacity-68 {
  opacity: 68%;
}
.opacity-69 {
  opacity: 69%;
}
.opacity-70 {
  opacity: 70%;
}
.opacity-71 {
  opacity: 71%;
}
.opacity-72 {
  opacity: 72%;
}
.opacity-73 {
  opacity: 73%;
}
.opacity-74 {
  opacity: 74%;
}
.opacity-75 {
  opacity: 75%;
}
.opacity-76 {
  opacity: 76%;
}
.opacity-77 {
  opacity: 77%;
}
.opacity-78 {
  opacity: 78%;
}
.opacity-79 {
  opacity: 79%;
}
.opacity-80 {
  opacity: 80%;
}
.opacity-81 {
  opacity: 81%;
}
.opacity-82 {
  opacity: 82%;
}
.opacity-83 {
  opacity: 83%;
}
.opacity-84 {
  opacity: 84%;
}
.opacity-85 {
  opacity: 85%;
}
.opacity-86 {
  opacity: 86%;
}
.opacity-87 {
  opacity: 87%;
}
.opacity-88 {
  opacity: 88%;
}
.opacity-89 {
  opacity: 89%;
}
.opacity-90 {
  opacity: 90%;
}
.opacity-91 {
  opacity: 91%;
}
.opacity-92 {
  opacity: 92%;
}
.opacity-93 {
  opacity: 93%;
}
.opacity-94 {
  opacity: 94%;
}
.opacity-95 {
  opacity: 95%;
}
.opacity-96 {
  opacity: 96%;
}
.opacity-97 {
  opacity: 97%;
}
.opacity-98 {
  opacity: 98%;
}
.opacity-99 {
  opacity: 99%;
}
.opacity-100 {
  opacity: 100%;
}
